framework: net6.0, netstandard2.0
source https://api.nuget.org/v3/index.json

nuget FSharp.Core >= 5.0.1 lowest_matching: true

group TypeProviderSDK
	github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fsi
	github fsprojects/FSharp.TypeProviders.SDK src/ProvidedTypes.fs

group Utility
	source https://api.nuget.org/v3/index.json

	nuget FluentFTP 34.0.1
	nuget NetBio.Core

group Test
    frameworks: net6.0
    source https://api.nuget.org/v3/index.json

    nuget FSharp.Core 6.0.5
    nuget Microsoft.NET.Test.Sdk
    nuget NUnit 3.13.1
    nuget NUnit3TestAdapter
    nuget FsUnit  4.0.4
    nuget FsCheck 2.15.1